<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Filippov Hotel</title>
    @Styles.Render("~/Content/RoomsCss")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css">

</head>
<body class="body-content" style=" background-color: whitesmoke;padding-top:5%; margin-left:0">
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

               

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="position:center;margin-top:1.5%;margin-left:6%">

                   
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content" style=" background-color: whitesmoke;width:60%;">
        @RenderBody()

       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
